/* CUSTOM DISCORD THEME BUILDER */
/* USE VARIABLES TO DESIGN YOUR OWN! */
/* RUN @import url() TO INSTALL ON CLIENT! */
body {
  font-family: var(--custom-font);
}

.sidebarList_c48ade .name__2ea32,
.sidebarList_c48ade h3 {
  text-transform: var(--uppercase-text) !important;
}

.sidebarList_c48ade.sidebarListRounded_c48ade nav.privateChannels__35e86 > div:not(.searchBar__35e86) * {
  color: transparent !important;
  font-size: 0 !important;
  display: var(--minimal-dms);
}

.sidebarList_c48ade.sidebarListRounded_c48ade nav.privateChannels__35e86 > div:not(.searchBar__35e86) svg,
.sidebarList_c48ade.sidebarListRounded_c48ade nav.privateChannels__35e86 > div:not(.searchBar__35e86) .icon__2ea32,
.sidebarList_c48ade.sidebarListRounded_c48ade nav.privateChannels__35e86 > div:not(.searchBar__35e86) .svg-icon {
  /* Icons */
  color: inherit !important;
  font-size: inherit !important;
}

/* == Main App Zoom == */
#app-mount.appMount__51fd7 {
  zoom: var(--app-zoom-level);
}

/* == Active Now Tab Visibility == */
.nowPlayingColumn__133bf {
  display: var(--hide-active-now);
}

/*Server Sidebar*/
.sidebarList_c48ade.sidebarListRounded_c48ade {
  max-width: var(--channels-width);
  overflow-x: hidden !important;
}

/* Channel Sidebar */
.sidebarList_c48ade .name__2ea32 {
  letter-spacing: 2px !important;
  font-size: 1em !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  text-transform: var(--uppercase-text) !important; /* Variable */
}

.sidebarList_c48ade .scroller__629e4::-webkit-scrollbar {
  width: 5px !important;
}

.sidebarList_c48ade .scroller__629e4::-webkit-scrollbar-thumb {
  background-color: rgba(114, 137, 218, 0.6) !important;
  border-radius: 3px !important;
}

.sidebarList_c48ade .scroller__629e4::-webkit-scrollbar-track {
  background-color: transparent !important;
}
